extends layout

block content
    title=title
    .container
        h1= title
        .row
            .col-md-8
                form#formaddmhs(name="inputnilai",method="post",action="/penilaian/inputnilai",role="form")
                    .form-group
                        label(for="inputKmk"). Kode Mata Kuliah
                        input#inputKmk(type="text", placeholder="Kode Matkul", name="kmk",class="form-control",size="30")
                    .form-group
                        label(for="inputNpm"). Npm
                        input#inputNpm(type="text", placeholder="NPM", name="npm",class="form-control",size="30")
                    .form-group
                        label(for="inputKelas"). Kelas
                        input#inputKelas(type="text", placeholder="Kelas", name="kelas",class="form-control",size="30")
                    .form-group
                        label(for="inputNilai"). Nilai
                        input#inputNilai(type="text", placeholder="Nilai", name="nilai",class="form-control",size="30")

                    button#btnSubmit(type="submit",class="btn btn-submit") submit
            .col-md-4
                